<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        a
        {
            color: antiquewhite;
            margin-left: 10px;
           
        }
        button
        {
          background-color:red;
          padding: 5px;
          
          margin: 10px;
        }
        
    </style>
</head>

<body>



 
        <nav class="navbar navbar-expand-lg  bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="box-seam.svg" alt=""" height="30" ><strong>Access</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#" style="color: antiquewhite;">Home</a>
                </li>
               
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="color:antiquewhite" height="30">
                   <strong>Tables</strong> 
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">customer</a></li>
                    <li><a class="dropdown-item" href="#">Employee</a></li>
                    <li><a class="dropdown-item" href="#">Login info</a></li>
                    <li><a class="dropdown-item" href="#">Maintenance Record</a></li>
                    <li><a class="dropdown-item" href="#">Parts</a></li>
                    <li><a class="dropdown-item" href="#">Payment</a></li>
                    <li><a class="dropdown-item" href="#">Team</a></li>
                    <li><a class="dropdown-item" href="#">Vehicles</a></li>
                    <li><a class="dropdown-item" href="#">Departments</a></li>
                  </ul>
                </li>
      
              </ul>
              
            </div>
          </div>
         <a href="/"><button class="gfg rounded-pill" >Logout</button></a> 
        </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>